<div class="addressText">
    <p>Route Address: <span style="color:black">{{currentAddress}}</span></p>
    <p>Route Difficulty: <span style="color:black">{{currentDiff}}</span></p>
</div>

<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="{scrollwheel: false}">

    <ui-gmap-layer type="BicyclingLayer"></ui-gmap-layer>

    <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" idkey="marker.id" icon="marker.url" click="sniff(marker.address, marker.difficulty)">
    </ui-gmap-marker>

    </ui-gmap-layer>
</ui-gmap-google-map>
<p style="font-size: 2rem">Found some issues? Saved a bad spot?</p>
<p style="font-size: 2rem">Email routecarver.io@gmail.com</p>